//colors

/****** Yellow *********/

$yellow: #ffff00;

/****** Red *********/

$red: #ff0000;

/****** Pink *********/

$pink-1: #ee82ee;

/****** Blue *********/

$blue-1: #00008b;
$blue-2: #2f4f4f;

/****** Green *********/

$green-1: #228b22;
$green-2: #008000;
